.form-box {
  background-color: rgba(11, 14, 27, 0.955);

  height: 11rem;
  width: 13rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border: 5px solid rgb(255, 255, 255, 0.201);
  padding: 1rem;
  border-radius: 5px;
}

label {
  align-self: flex-start;
}

#form-submit {
  margin-top: 0.5rem;
}

#form-submit:hover {
  background-color: rgba(244, 227, 73, 0.84);
}
